
#alerts div.content-view-full {
	width: 97%;
	margin: 10px auto;
}

#alerts div.content-view-full .Message {
	background: #325A98;
	padding: 10px;
	border: solid 1px #D1DAE9;
}

#alerts div.content-view-full .Message h1 {
	font-size: 1.6em;
	color: #D1DAE9;
	font-weight: bold;
}

#alerts div.content-view-full .Message p {
	color: #ffffff;
	margin: 0.5em 0;
}

#alerts div.content-view-full .Notice {
	background: #fffcbf;
	padding: 10px; 
	border: solid 1px #d32b10;
}

#alerts div.content-view-full .Notice h1 {
	font-size: 1.6em;
	color: #d32b10;
	font-weight: bold;
}

#alerts div.content-view-full .Notice p {
	color: #000000;
	margin: 0.5em 0;
}


#alerts div.content-view-full .Warning {
	background: #d32b10;
	padding: 10px;
	border: solid 1px #fdd343;
}

#alerts div.content-view-full .Warning h1 {
	font-size: 1.6em;
	color: #fdd343;
	font-weight: bold;
}

#alerts div.content-view-full .Warning p {
	color: #ffffff;
	margin: 0.5em 0;
}

#alerts div.content-view-full .Message .view-all-items, #alerts div.content-view-full .Notice .view-all-items, #alerts div.content-view-full .Warning .view-all-items {
	margin: 4px auto;
	text-align: center;
}
